<?xml version="1.0" encoding="utf-8" ?>
<configuration>


    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Freevine.My.MySettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <Freevine.My.MySettings>
            <setting name="FolderPath" serializeAs="String">
                <value />
            </setting>
            <setting name="FolderPath2" serializeAs="String">
                <value />
            </setting>
            <setting name="ShowName" serializeAs="String">
                <value />
            </setting>
            <setting name="Service" serializeAs="String">
                <value />
            </setting>
            <setting name="SeriesURL" serializeAs="String">
                <value />
            </setting>
        </Freevine.My.MySettings>
    </userSettings>
</configuration>
